<form action="/landmarks" method="POST">
 <label> Create New Landmark: </label></br>
 <label>Name:</label>
  <input type="text" name="landmark[name]" id="landmark_name"> 
  <label>Year Completed:</label>
  <input type="text" id="landmark_year_completed" name="landmark[year_completed]"></br>
<input type="submit" value="Create New Landmark">
</form>